body {
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5 {
  font-family: Impact, Charcoal, sans-serif;
  
}

* {
  box-sizing: border-box;
  /* margin: 2%; */
}
.trash {
  color: #cc0099;
}

.border {
  border: 20px solid #ed00b1;
  background-color: white;
}
.box {
/* margin: 2%; */
padding: 10px;
}
.list-background {
  color: #fd28c7;
  background-color: #fd28c7;
}